# Introduction to Python: Variables, Statements, and Expressions

## Comments

Comments are non executable statements i.e ignored by interpreter. They are used to take notes in the code. They start with a # sign which tell compiler to ignore evrythig that comes after it.

In [1]:
print("Hello World!") # print function is used to output statement to the terminal.

Hello World!

## Expression

Expression is a combination of literals variable and function call that get evaluated by python.
Expression -> Value -> Type

In [2]:
print(100) # print(100) -> 100 -> int
print("Hello World") # print("Hello World") -> 100 -> int

100
Hello World

## Operators

Operators are tokens that are used to specify computation like add, sub etc.

### Arithmetic Operators

#### Addition (+)

Add the value of the two expression

In [3]:
print(100+200) # Value: 300

300

#### Subtraction (-)

Subtract the value of operand on the right from the operand on the left

In [4]:
print(100-22)

78

#### Multiplication (*)

Multiply the value of two operands

In [5]:
print(10*3)

30

#### Division (/)

Divide the value of operand on the right from the operand on the left

In [6]:
print(10/3)

3.3333333333333335

Whenever we do normal division in python we get a float back

#### Floor Division (//)

Divide the value of two expressions and truncate the decimal

In [7]:
print(10//3)

3

If one of the operand is float. It produces a float even though it truncates all the decimal places.

#### Exponentiation (***)

Left operand raised to the power Right operand.

In [8]:
print(4**2) # 4 raised to the power 2

16

#### Modulo (%)

Work on integers. Yield remainder as left operand get divided by right.

In [9]:
print(7%3) # Value: 1

1

### Compound Assignment Operators

Combine assignment operator with arithmetic operator. Provide a short syntax to update the value of variable using old variables

In [10]:
x = 3
print(x)

3

#### Add and Assign (+=)

Add value of operand on the right to operand on left and assign it to the left operand.

In [11]:
x+=3
print(x)

6

#### Subtract and Assign (-=)

Subtract value of operand on the right from operand on left and assign it to the left operand.

In [12]:
x-=2
print(x)

4

#### Multiply and Assign (*=)

Multiply value of operand on the right to operand on left and assign it to the left operand.

In [13]:
x*=3
print(x)

12

#### Divide and Assign (/=)

Divide value of operand on the right from operand on left and assign it to the left operand

In [14]:
x/=3
print(x)

4.0

#### Modulus and Assign (/=)

Find the remainder when the operand on the left is divided by the operand on the right and assign it to the left operand.

In [15]:
x %= 8
print(x)

4.0

#### Exponentiate and Assign (**=)

Raise the left operand to the power of the right operand and assign the result to the left operand.

In [16]:
x **= 8
print(x)

65536.0

#### Floor Division and Assign (**=)

Perform floor division of the left operand by the right operand and assign the result (integer part) to the left operand.

In [17]:
y = 28
y//=8
print(y)

3

### Order of Operations

If an expression contain multiple operation then it helps us to decide which operation is performed first. The order of operation in python is the same as in maths.

#### Order in Python

() > ** > unary (+ - !) > * / % > + - > << >> > < <= > >= > == != > & > ^ > | > && > || > ?: > (and compound assignments)

## Three ways to create a string:

'': single quotation mark.

" ": double quotation mark.

'''''': triple quotation mark. Can span multiple line.

Note: All of these create the same string object

## type function

type function is used to get the data type of the value.

In [18]:
print(type("Hello World!"))
print(type('Hello World'))
print(type(17))
print(type(3.2))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

## Important Information

 Donot use comma in case of large integer as we do in everyday life.
 
 Wrong Integer: 42,500.
 
 Comma is used to seperate arguments in function. If you used it in print. It will print them seperately

## Type Conversion Function

Type conversion function are used to convert value of one data type to another.

In [19]:
print(int(3.14))
print(float(5))
print(str(1234)) # Now this is  astring. You cannot perform normal arithmetic operation on it like divide

3
5.0
1234

#print(int("123Bottle")): Throws an error. Invalid int literal.

In [20]:
print(type(float(int('5'))))

<class 'float'>

Function calls in python get executed from inside out. So this is a float.

## Variable

 Variable are useful as they allow you to store the value computed by an exression. They allow you to assign human readable name to variable. It allow you to used the value again

### Setting variable

In [21]:
message = "What's up, Shuja?" 
n = 17
pi = 3.14

### Referencing Variable

In [22]:
print(message)
print(n)
print(pi)

What's up, Shuja?
17
3.14

### Reassigning a Variable

In python once a variable has been initialized you can reassign value to it.

In [23]:
# Set the value of x to 5 and then print it
x= 5
print(x) # Result: 5

# Reassign the value of x to 10 and then print it.
x = 10
print(x)

5
10

### Rule for Naming a Variable

1. Start with a letter.
2. Contains letter or numbers.
3. Can contain undercore ( _ ).
4. Cannot be a python special keyword.
5. Python is case sensitive i.e x != X.

## Updating Variable

You can update the value of variable once it has been created. You can also use the old value of variable to get the new value of variable.

In [24]:
x = 6           # Initialize x
print(x)
x +=3          # Increment x by 3, same as x= x+3
print(x)
x -=1          # Decrement x by 1, same as x= x-3
print(x)

6
9
8

## Statement:

It is a complete statement that python can execute.

In [25]:
x = 3.14
y = len("Shuja")
print(x)
print(y)

3.14
5

Python first evaluate the value of expression inside the function call

In [26]:
print(1+1+(2+3))

7

We can combine different type of expression to create more complex expression

In [27]:
print(2*len("hello")+len("Shuja"))

15

## Steps of Function Call

When we make a function call the following steps get execution by Python behind the scene:
1. Evaluate the function itself
2. Evaluate the argument in order left ->right
3. call the function

In [28]:
x = 5
y = "Shuja"
print(x+len(y))

10

## input Function

Function that prompt the user to enter something. It always return a value of type string.

In [29]:
name = input("Please enter youtr name:")
print("Hello",name)

Please enter youtr name: Shuja

Hello Shuja

In [30]:
n = input("Enter a number")
n_plus_1 = n + 1
print(n_plus_1)

Enter a number 1234

TypeError: can only concatenate str (not "int") to str

This will throw an error because n is a string.

#### Converting Seconds to Hours, Minutes and Seconds

In [31]:
str_second = input("Please enter the numbers of second you wish to convert:")
total_seconds = int(str_second) # Convert str_second of type str to int 

hours = total_seconds // 3600                # Calculate the no of hours
sec_remaining = total_seconds % 3600         # Find the remainder seconds when seconds get converted to hours
minutes = total_seconds // 60                #  Calculate the no of minutes using remainder seconds
sec_finally_remaining = total_seconds % 60   #  Find the final remainder seconds when seconds get converted to minutes

print("Hrs=", hours, "mins=",minutes,"secs= ",sec_finally_remaining)

Please enter the numbers of second you wish to convert: 12345

Hrs= 3 mins= 205 secs=  45